@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
    background-image: url("/ngd.png") !important;
    /* background-color: #111 !important; */
    color: #fffff2;
    height: 100%
}
#__next {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.profile-avatar {
    margin-top: -90px;
    padding-top: 0px;
}
.leado {
    margin-top: 0px;
}
.profile-subhead {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px!important;
    width: 90%;
    margin-top: 70px;
    /* margin-left: 2.5%; */
    color: #fff;
    border-radius: 15px;
    box-shadow: none;
    background: rgb(10,10,10);
    background: linear-gradient(0deg, rgba(10,10,10,1) 10%, rgba(76,76,76,1) 85%);
    border: 3px solid #111;

}
h4 {
    font-family: "Rubik",sans-serif !important;
    font-size: 2.5rem;
}
.ldr-points {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 13px;
    color:#111;
    line-height: 28px;
    padding-top: 10px;
}
.pointtot {
    font-family: 'Black Ops One', cursive;
    font-size: 62px;
    color: #5383ec;
}
.tard {
    color: black;
    font-size: 44px;
}
.usernam {
    font-family: 'Black Ops One', cursive !important;
    color: white;
    font-size: 32px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 27px;
    padding-top: 11px;
}
.container-fluid {
    justify-content: inherit !important;
    overflow: hidden;
    /* height: 75px; */
    align-items: center;
}
.logo-img {
    color: transparent;
    height: 93px;
    width: auto;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
}
.nav-item .nav-link, .navbar-nav .nav-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 12px;;
    font-family: 'Black Ops One', cursive;
    color: white !important;
    font-weight: 500 !important;
    font-size: 26px !important;
}
.flex-holder {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.nav-container {
    border-bottom: 1px solid #fff;
    margin-bottom: 0px;
}
.bg-dark {
    background-color: #111 !important;
    padding-top: 0px;
    padding-bottom: 0px;
}
.backstyle {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0px;
    z-index: 999;
    perspective: 800px;
    transition: opacity 250ms ease-in-out 0s;
    opacity: 1;
}
.profile-avatar img {
    /* margin-bottom: 0px !important; */
    height: 135px;
    width: auto;
    border-radius: 50%;
    border: 3px solid #111;
    margin-bottom: 1px;
    border-style: solid;
    margin-top: 16px;
}
.progress-bar-hawk {
    width: 80%;
}
.refix {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: center;
    background-image: linear-gradient(rgba(102,102,102,1), rgba(17,17,17,1));
    color: white;
    position: fixed;
    top: 2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 1em;
    max-height: calc(100vh - 48
    px);
    outline: 0;
    border: 1px solid rgba(33,33,33,0.25);
    z-index: 999;
    width: 380px;
    min-height: 384px;
    overflow-y: auto;
}
.closebtn {
    position: absolute;
    right: 13px;
    top: 11px;
}
.containment .mb-3 {
    text-align: left;
    padding-bottom: 0px;
    margin-bottom: 10px !important;
}
.linker {
    margin: 12px !important;
}
.container-lead {
    display: flex;
    /* background-color: red; */
    border: 3px solid #111;
    border-radius: 20px;
    align-items: center;
    width: 100%;
    background: rgb(109,67,25);
background: linear-gradient(0deg, rgba(109,67,25,1) 0%, rgba(226,135,52,1) 67%);
}
.open-dia:nth-child(3) .container-lead, .open-dia:nth-child(6) .container-lead  {
    background: linear-gradient(0deg, rgba(88,14,10,1) 14%, rgba(195,44,28,1) 91%) !important;
}
.open-dia:nth-child(4) .container-lead {
    background: rgb(33,65,141);
    background: linear-gradient(0deg, rgba(33,65,141,1) 14%, rgba(66,113,223,1) 91%);    
}

.container-lead .profile-avatar img {
    height: 77px;
    margin: 0;
    margin-left: -24px;
    margin-right: 16px;
}
.avatar-selector {
    display: flex;
}
.avatar-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}
.avatar-image-container img {
    margin-bottom: 0px !important;
    height: 105px;
    width: auto;
    border-radius: 50%;
    border: 3px solid #666;
    border-style: solid;
}
.badge-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.open-dia {
    background-color: transparent;
    box-shadow: none;
    border: 0px;
    outline: 0 !important;
    cursor: pointer;
    padding: 0 4%;
    margin: 17px 0;
    margin-left: 20px;
}
.pointlab {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
    color: #5383ec;
    padding-top: 16px;
    padding-bottom: 16px;
}
.labp {
    font-family: 'Black Ops One', cursive;
    color: #111;
    font-size: 19px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.newbadge {
    width: 104px;
    height: 104px;
    margin: 0px;
    border: 0px;
    padding: 0;
    background-color: transparent;
}
.ReactModal__Overlay {
    z-index: 9999999 !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
}
.edify {
    padding: 0px;
    margin: 0px;
    color: white;
    position: absolute;
    right: 9%;
    padding-top: 4px;
}
.lion {
    background-image: url("/valor-badge.png") !important;
    background-size: cover !important;
}
.belt1, .belt2, .belt3, .belt4, .belt5, .belt6, .belt7, .belt8   {
    background-image: url("/belt.png") !important;
    background-size: cover !important;
}
.badge-shade {
    margin: 0 10px;
}
.edit-button {
    padding-bottom: 0px;
    cursor: pointer;
    margin-bottom: 3px;
    font-size: 14px;
}
.levelpro {
    color: #ffff55;
    font-size: 22px;
    margin-bottom: 23px;
}
.inv-date {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
.date-date {
    font-size: 22px;
}
.date-holding {
    display: flex;
    width: 90%;
    padding-top: 20px;
}
.bg-dark {
    background-color: #111 !important;
}
.beltin {
    padding-bottom: 13px;
}
.belts-earned {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    font-family: 'Black Ops One', cursive;
    font-size: 24px;
}
.date-labels {
    font-size: 14px;
}
.preview-image {
    color: white;
    font-size: 12px;
    padding-top: 4px;
}
.pro-name {
    font-family: 'Black Ops One', cursive !important;
    padding-bottom: 0px;
    margin-bottom: -6px;
    margin-top: 9px;
}
.qr-image {
    text-align: center;
}
.avatar-list {
    max-height: 140px;
    overflow-y: auto;
    flex: 1;
}
.avatartitle {
    padding-top: 10px;
}
.nav-ico {
    height: 19px;
    padding-right: 6px;
}
.centering {
    text-align: center;
}
.middle-item {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.levelsub {
    color: #111;
    font-size: 20px;
    font-weight: 300;
}
.success-msg {
    border: 0 solid #0abdc6;
    background-color: initial;
    color: #0abdc6;
    margin-top: 8px;
    font-size: 22px;
    text-align:center;
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
}
.sm-date {
    font-size: 16px;
}
.title-header {
    width: 100%;
    z-index: 999999;
    color: white;
    background: rgb(7,7,7);
    text-align: center;
    background: linear-gradient(0deg, rgba(7,7,7,1) 35%, rgba(65,65,65,1) 99%);
    padding: 22px 0;
    margin-top: 0px;
    margin-bottom: 26px;
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
}
.blue-but {
    background: linear-gradient(0deg,#133e7c,#0abdc6)!important;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 18px;
    border: 0;
    color: #fff;
    width: 90%!important;
    margin: 14px 0;
    font-size: 24px;
}
.navbar-dark .navbar-toggler {
    outline: 0px
}
.seper {
    padding: 0 12px;
}
.powered {
    margin-bottom: 20px;
    line-height: 38px;
    font-size: 16px;
    color: white;
}
a {
    color: #ff0 !important;
}
@media (max-width: 768px) {
    .drop-qr button {
        width: 100%;
    }
    .dropdown-menu {
        width: 100%;
    }
    .navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
        padding-right: 0;
        padding-left: 0;
        text-align: right;
        display: flex;
        justify-content: right;
    }
  }
