@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    background-image: url("/ngd.png") !important;
    /* background-color: #111 !important; */
    color: #fffff2;
    height: 100%
}
#__next {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.profile-avatar {
    margin-top: -90px;
    padding-top: 0px;
}
.leado {
    margin-top: 0px;
}
.profile-subhead {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px!important;
    width: 90%;
    margin-top: 70px;
    /* margin-left: 2.5%; */
    color: #fff;
    border-radius: 15px;
    box-shadow: none;
    background: rgb(10,10,10);
    background: linear-gradient(0deg, rgba(10,10,10,1) 10%, rgba(76,76,76,1) 85%);
    border: 3px solid #111;

}
.hour-res {
    display: flex;
    width: 100%;
    padding: 5px 5%;
}
.hour-list {
    font-family: 'Lato', sans-serif;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 24px;
}
.res-head {
    margin-top: 23px;
}
.burst-holder {
    flex: .4 1;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 11px;
}
h4 {
    font-family: "Rubik",sans-serif !important;
    font-size: 2.5rem;
}
.ldr-points {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 13px;
    color:#111;
    line-height: 28px;
    padding-top: 10px;
}
.ldrpua {
    padding-top: 21px;
    padding-bottom: 15px;
}
.pointtot {
    font-family: 'Black Ops One', cursive;
    font-size: 62px;
    color: #5383ec;
}
.modslvl {
    font-family: 'Black Ops One', cursive;
    padding: 15px 0;
    font-size: 30px;
    line-height: 32px;
}
.level-lvl {
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    padding-bottom: 3px;
    font-weight: 700;
}
.level-desc {
    font-family: 'Lato', sans-serif;
    padding-bottom: 14px;
    font-size: 17px;
    color: #bebebe;
}
.pencil {
    padding-right: 4px;
}
.lastdate {
    font-size: 20px;
}
.newbig {
    width: 140px !important;
    height: 140px  !important;
    margin-bottom: 8px!important;
}
.tard {
    color: black;
    font-size: 44px;
}
.usernam {
    font-family: 'Black Ops One', cursive !important;
    color: white;
    font-size: 32px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 27px;
    padding-top: 11px;
}
.checkpad {
    padding-top: 40px;
}
.container-fluid {
    justify-content: inherit !important;
    overflow: hidden;
    /* height: 75px; */
    align-items: center;
}
.logo-img {
    color: transparent;
    height: 93px;
    width: auto;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
}
.nav-item .nav-link, .navbar-nav .nav-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 12px;;
    font-family: 'Black Ops One', cursive;
    color: white !important;
    font-weight: 500 !important;
    font-size: 26px !important;
}
.flex-holder {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.nav-container {
    border-bottom: 1px solid #fff;
    margin-bottom: 0px;
}
.bg-dark {
    background-color: #111 !important;
    padding-top: 0px;
    padding-bottom: 0px;
}
.backstyle {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0px;
    z-index: 999;
    perspective: 800px;
    transition: opacity 250ms ease-in-out 0s;
    opacity: 1;
}
.profile-avatar img {
    /* margin-bottom: 0px !important; */
    height: 135px;
    width: auto;
    border-radius: 50%;
    border: 3px solid #111;
    margin-bottom: 1px;
    border-style: solid;
    margin-top: 16px;
}
.progress-bar-hawk {
    width: 80%;
}
.refix {
    
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: center;
    background-image: linear-gradient(rgba(102,102,102,1), rgba(17,17,17,1));
    color: white;
    position: fixed;
    top: 2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 1em;
    max-height: calc(100vh - 48
    px);
    outline: 0;
    /* border: 1px solid rgba(33,33,33,0.25); */
    z-index: 999;
    width: 380px;
    min-height: 384px;
    overflow-y: auto;
    border: 3px solid #111;
    max-height: 90vh;
}
.rizzow {
    display: flex;
    width: 100%;
}
.rizzow .p-tag {
    flex: 1
}
.closebtn {
    position: absolute;
    right: 13px;
    top: 11px;
}
.containment .mb-3 {
    text-align: left;
    padding-bottom: 0px;
    margin-bottom: 10px !important;
}
.linker {
    margin: 12px !important;
}
.container-lead {
    display: flex;
    /* background-color: red; */
    border: 3px solid #111;
    border-radius: 20px;
    align-items: center;
    width: 100%;
    background: rgb(109,67,25);
background: linear-gradient(0deg, rgba(109,67,25,1) 0%, rgba(226,135,52,1) 67%);
}
.open-dia:nth-child(3) .container-lead, .open-dia:nth-child(6) .container-lead, .open-dia:nth-child(9) .container-lead, .open-dia:nth-child(12) .container-lead  {
    background: linear-gradient(0deg, rgba(88,14,10,1) 14%, rgba(195,44,28,1) 91%) !important;
}
.open-dia:nth-child(4) .container-lead, .open-dia:nth-child(7) .container-lead, .open-dia:nth-child(10) .container-lead, .open-dia:nth-child(13) .container-lead {
    background: rgb(33,65,141);
    background: linear-gradient(0deg, rgba(33,65,141,1) 14%, rgba(66,113,223,1) 91%);    
}
.ReactModal__Body--open {
    height: 100vh;
  overflow-y: hidden;
}
.flexholder h4 {
    font-family: 'Black Ops One', cursive !important;
}
.point-holder  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.point-holder  .value {
    font-family: 'Black Ops One', cursive !important;
    color: #5383ec;
    font-size: 32px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 27px;
    padding-top: 11px;
}
.modname {
    margin-top: 4px;
    padding-bottom: 0px;
    margin-bottom: -2px;
}
.levler {
    color: #ffff55;
    font-size: 22px;
    margin-bottom: 8px;
}
.container-lead .profile-avatar img {
    height: 77px;
    margin: 0;
    margin-left: -24px;
    margin-right: 16px;
}
.avatar-selector {
    display: flex;
}
.avatar-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: .7;
}
.avatar-image-container img {
    margin-bottom: 0px !important;
    height: 105px;
    width: auto;
    border-radius: 50%;
    border: 3px solid #666;
    border-style: solid;
}
.badge-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.open-dia {
    background-color: transparent;
    box-shadow: none;
    border: 0px;
    outline: 0 !important;
    cursor: pointer;
    padding: 0 4%;
    margin: 17px 0;
    margin-left: 20px;
}
.pointlab {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
    color: #5383ec;
    padding-top: 16px;
    padding-bottom: 16px;
}
.labp {
    font-family: 'Black Ops One', cursive;
    color: #111;
    font-size: 19px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.newbadge {
    width: 104px;
    height: 104px;
    margin: 0px;
    border: 0px;
    padding: 0;
    background-color: transparent;
}
.stba {
    width: 72px;
    height: 72px;
    cursor: auto;
}
.ReactModal__Overlay {
    z-index: 9999999 !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
}
.edify {
    padding: 0px;
    margin: 0px;
    color: white;
    position: absolute;
    right: 9%;
    padding-top: 4px;
}
.lion {
    background-image: url("/valor-badge.png") !important;
    background-size: cover !important;
}
.lion2 {
    background-image: url("/valor-badge2.png") !important;
}
.lion3 {
    background-image: url("/valor-badge3.png") !important;
}
.lion4 {
    background-image: url("/valor-badge4.png") !important;
}
.lion5 {
    background-image: url("/valor-badge5.png") !important;
}
.lion6 {
    background-image: url("/valor-badge6.png") !important;
}
.lion7 {
    background-image: url("/valor-badge7.png") !important;
}
.lion8 {
    background-image: url("/valor-badge8.png") !important;
}
.lion9 {
    background-image: url("/valor-badge9.png") !important;
}
.lion10 {
    background-image: url("/valor-badge10.png") !important;
}
.belt1, .belt2, .belt3, .belt4, .belt5, .belt6, .belt7, .belt8   {
    background-image: url("/belt.png") !important;
    background-size: cover !important;
}
.badge-shade {
    margin: 0 10px;
}
.edit-button {
    padding-bottom: 0px;
    cursor: pointer;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
    color: #ebebeb;
    text-decoration: underline;
}
.levelpro {
    color: #ffff55;
    font-size: 22px;
    margin-bottom: 23px;
}
.inv-date {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
.date-date {
    font-size: 22px;
}
.date-holding {
    display: flex;
    width: 90%;
    padding-top: 20px;
}
.cbg-dark {
    background-color: #111 !important;
    padding: 0 10px !important;
}
.beltin {
    padding-bottom: 13px;
}
.belts-earned {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    font-family: 'Black Ops One', cursive;
    font-size: 24px;
}
.small-top {
    padding-top: 16px;
    border-top: 1px solid #666;
    padding-bottom: 16px;
}
.date-labels {
    font-size: 14px;
}
.preview-image {
    color: white;
    font-size: 12px;
    padding-top: 4px;
}
.claimh {
    font-family: 'Black Ops One', cursive !important;
    font-size: 26px;
}
.pro-name {
    font-family: 'Black Ops One', cursive !important;
    padding-bottom: 0px;
    margin-bottom: -6px;
    margin-top: 4px;
    font-size: 38px;
}
.qr-image {
    text-align: center;
}
.avatar-list {
    max-height: 160px;
    overflow-y: auto;
    flex: 1;
}
.form-label {
    font-family: 'Black Ops One', cursive !important;
    font-size: 16px;
}
.avatartitle {
    padding-top: 10px;
    font-family: 'Black Ops One', cursive !important;
    font-size: 16px;
}
.form-check {
    position: relative;
    display: block;
    padding: 3px 0;
    padding-left: 1.25rem;
    cursor: pointer;
}
.form-check-label {
    font-size: 18px;
    padding: 4px 0px;
    font-family: 'Black Ops One', cursive !important;
}
.nav-ico {
    height: 19px;
    padding-right: 6px;
}
.centering {
    text-align: center;
}
.middle-item {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.levelsub {
    color: #111;
    font-size: 20px;
    font-weight: 300;
}
.home-top-container {
    font-family: 'Black Ops One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-section {
    padding: 4px 4% 40px 4%;
}
.accordion {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accordion__item {
    border: 1px solid;
    border-radius: 15px;
    padding: 10px 16px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    width: 92%;
}
.smalls {
    font-size: 34px;
}
.accordion__panel{
    font-size: 18px;
    padding-top: 11px;
    padding-bottom: 5px;
    color: #bebebebe;
}
.home-link {
    color: #ff0 !important;
    text-align: center;
    font-size: 27px;
    display: flex;
    align-items: center;
    text-decoration: underline;
    line-height: 30px;
    cursor: pointer;
    padding-top: 2px;
}
.home-title {
    text-transform: uppercase;
    font-size: 44px;
    text-align: center;
    padding-bottom: 3px;
    margin-bottom: 0px;
    color: #fff;
    line-height: 48px;
}
.resouce-title {
    padding: 11px 0;
    color: #aeaeae;
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    font-size: 44px;
    text-align: center;
    padding-bottom: 3px;
    margin-bottom: 0px;
}
.success-msg {
    border: 0 solid #0abdc6;
    background-color: initial;
    color: #0abdc6;
    margin-top: 8px;
    font-size: 22px;
    text-align:center;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-bottom: 14px;
    padding-left: 10px;
}
.sm-date {
    font-size: 16px;
}
.title-header {
    width: 100%;
    z-index: 999999;
    color: white;
    background: rgb(7,7,7);
    text-align: center;
    background: linear-gradient(0deg, rgba(7,7,7,1) 35%, rgba(65,65,65,1) 99%);
    padding: 22px 0;
    margin-top: 0px;
    margin-bottom: 26px;
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
}
.cf {
    top: 9%;
}
.cfs {
    top: 4%;
}
.blue-but {
    background: linear-gradient(0deg,#133e7c,#0abdc6)!important;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 18px;
    border: 0;
    color: #fff;
    width: 90%!important;
    margin: 14px 0;
    cursor: pointer;
    font-size: 24px;
}
.navbar-dark .navbar-toggler {
    outline: 0px
}
.seper {
    padding: 0 12px;
    color: white;
}
.powered {
    margin-bottom: 20px;
    line-height: 38px;
    font-size: 16px;
    color: white;
}
a {
    color: #ff0 !important;
}
@media (max-width: 768px) {
    .drop-qr button {
        width: 100%;
    }
    .dropdown-menu {
        width: 100%;
    }
    .navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
        padding-right: 0;
        padding-left: 0;
        text-align: right;
        display: flex;
        justify-content: right;
    }
  }
.extra-p {
    margin-top: 30px !important;
}
.video-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 12px;
    margin-bottom: 13px;
    margin-top: 13px;
}
.burst-ico {
    height: 59px;
    padding-right: 6px;
    color: #ebebebeb;
}
.video-cat {
    background: rgb(10,10,10);
    background: linear-gradient(0deg, rgba(10,10,10,1) 10%, rgba(76,76,76,1) 85%);
    border: 1px solid #cf0011;
    color: #cf0011;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 28px;
    margin: 10px 0;
    width: 84%;
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    cursor: pointer;
}
.goldup {
    color: #ff8d27;
    border: 1px solid #ff8d27;
}
.silver {
    color: #6a8591;
    border: 1px solid #6a8591;
}
.lg-height img {
    height: 135px;
    width: auto;
}